html, body {margin: 0; height: 100%; overflow: hidden;
  background-image: url(../images/colored.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}


#overlay {
  width: 35%;
  border-radius: 25px;
  font-family: 'Slabo 27px', serif;
  font-size: 57px;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(34, 30, 30, 0.73);
  margin-left:1%;
  margin-top:2%;
  float:left;
  z-index: 1;
}

#therm-overlay {
  width: 30%;
  height: 40%;
  border-radius: 25px;
  font-family: 'Slabo 27px', serif;
  font-size: 57px;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(34, 30, 30, 0.73);
  margin-left:3%;
  margin-top:2%;
  float:left;
  z-index: 1;
}


#letter{
  font-family: 'Slabo 27px', serif;
  text-align: center;
  color: white;
  font-size: 16.5px;

}

#countdown{
  width: 30%;
  height: 20%;
  border-radius: 25px;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(34, 30, 30, 0.73);
  margin-top:2%;
  margin-left:3%;
  float:left;
  z-index: 1;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  color: white;

h2,h3{
  text-align: center;
  color: c9e0f0;

}
