body {
  background-image: url("../images/image-bgr.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}

#overlay {
  width: auto;
  height: auto;
  position: absolute;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 70%;
  background: rgba(33, 30, 30, 0.73);
}

#overlayVC {
  width: 40%;
  height: auto;
  position: absolute;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: blue;
  margin-left: 30%;
  margin-top: 70%;
  background: rgba(33, 30, 30, 0.73);
}
